<div class="card">
    <div class="heading">
        <h2>
            Welcome, {{user?.name}} to the Todo List Challenge
        </h2>
    </div>
    <div class="content">
        <form (ngSubmit)="onSubmit()" #listForm="ngForm">
            <div class="list-input">
                <input required [(ngModel)]="name" type="text"  id="name" class="list-name" name="name" placeholder="The name of a new todo list...">
            </div>
            <button [disabled]="!listForm.form.valid" class="btn add" type="submit" title="Add">Add</button>
        </form>
    </div>
</div>
