.login {
  color:#FFFFFF;
  background-color: #4cabff;
  margin-top: 15px;
  padding:0.7em 1.5em;
}

#username {
  border: 1px solid #4cabff;
  width: calc(100% - 12px);
  outline: 0;
  border-radius: 0.1em;
  padding: 5px;
  font-size: 14pt;
  word-wrap: break-word;
}

