<div id="login-card" class="card">
  <div class="heading">
    <h2>
      Login
    </h2>
  </div>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="todo-input">
        <input
          required
          type="text"
          id="username"
          name="username"
          placeholder="username"
          formControlName="username"
        />
      </div>
      <button
        [disabled]="!loginForm.valid"
        class="btn login"
        type="submit"
        title="Login"
        id="loginButton"
      >
        Login
      </button>
    </form>
  </div>
</div>
