server/src/main/resources/static/favicon.ico
server/src/main/resources/static/index.html
server/src/main/resources/static/main-es5.js
server/src/main/resources/static/main-es2015.js
server/src/main/resources/static/polyfills-es5.js
server/src/main/resources/static/polyfills-es2015.js
server/src/main/resources/static/runtime-es5.js
server/src/main/resources/static/runtime-es2015.js
server/src/main/resources/static/styles-es5.js
server/src/main/resources/static/styles-es2015.js
server/src/main/resources/static/vendor-es5.js
server/src/main/resources/static/vendor-es2015.js