<div class="card">
  <div class="heading">
    <h2 id="header1">
      {{ this.list?.name }}
    </h2>
  </div>
  <div class="content">
    <form [formGroup]="newTodoForm" (ngSubmit)="onSubmit()">
        <textarea
          required
          type="text"
          id="title"
          class="todo-title"
          name="title"
          formControlName="title"
          placeholder="A new todo task&#x0a;&#8942;"
        ></textarea>
      <button
        [disabled]="!newTodoForm.valid"
        class="btn add"
        type="submit"
        title="Add"
      >
        Add
      </button>
      <button class="btn home" type="reset" (click)="goHome()" title="Home">
        Home
      </button>
    </form>
  </div>
</div>
