<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Todo List Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <nav>
        <div class="left">Todo List Challenge <div class="right">You are <i>not</i> logged in.</div> </div>
    </nav>
    <div class="card">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <script>
                    Swal.fire({
                        title: 'Error!',
                        text: 'Invalid username and password.',
                        icon: 'error',
                        confirmButtonText: 'Okay'
                    })
                </script>
            </div>
            <div th:if="${param.logout}">
                <script>
                    Swal.fire({
                        title: 'Success!',
                        text: 'You have been logged out.',
                        icon: 'success',
                        confirmButtonText: 'Okay'
                    })
                </script>
            </div>
            <input required type="text" id="username" autocomplete="username" name="username" placeholder="username"/>
            <br>
            <input required type="password" id="password" autocomplete="password" name="password" placeholder="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
