.add {
    color:#FFFFFF;
    background-color: #4cabff;
    margin-top: 15px;
    padding:0.7em 1.5em;
}

#title {
    border: 1px solid #4cabff;
    width: calc(100% - 12px);  
    outline: 0;
    border-radius: 0.1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(49, 49, 49)
}