<form
  class="card form"
  [formGroup]="editTodoForm"
  (ngSubmit)="onSave(todo, this.editTodoForm.controls.title.value)"
>
  <div class="buttons">
    <input
      type="checkbox"
      class="regular-checkbox"
      [checked]="todo?.completed"
      (change)="onToggle(todo)"
      title="Mark As Completed"
    />
    <button class="btn save" type="submit" title="Save">
      Save
    </button>
    <button class="btn reset" type="reset" title="Reset">
      Reset
    </button>
    <button
      class="btn delete"
      type="reset"
      (click)="onDelete(todo)"
      title="Delete"
    >
      Delete
    </button>
  </div>
  <hr />
  <div class="todo-input" [ngClass]="setClasses()">
    <input
      autosize
      class="todo-title"
      style="margin-top: 7px"
      formControlName="title"
      id="todo-title"
      [value]="todo?.title"
      [defaultValue]="todo?.title"
    >
  </div>
</form>
